@model Product
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h2 class="alert alert-primary">Confirm the delete 
    of <span class="text-danger">@Model.ProductName</span> ?
</h2>

<form asp-action="Delete" asp-controller="Products" method="post">
    @Html.HiddenFor(m=>m.Id)
    <input type="submit" value="Confirm" class="btn btn-success" />
    <a asp-action="Index" asp-controller="Products" class="btn btn-danger">Cancel</a>
</form>
