@model Product
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" asp-controller="Products" method="post">
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <td>@Html.DisplayNameFor(x=>x.ProductName)</td>
            <td>
                <input asp-for="ProductName" class="input-group" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x=>x.Price)</td>
            <td>
                <input asp-for="Price" class="input-group" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x=>x.Quantity)</td>
            <td>
                <input asp-for="Quantity" class="input-group" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" asp-controller="Products" class="btn btn-danger">Cancel</a>
            </td>
        </tr>
    </table>
</form>